<h1 *ngIf="dataLoaded === false">yükleniyor</h1>
<h1>{{message}}</h1>
<div *ngIf="dataLoaded">
  <mat-card class="example-card mt-5 mb-5" *ngFor="let product of productData">
    <mat-card-header>
      <mat-card-title title="Ürün ismi">
        {{product.productName}}
      </mat-card-title>
      <mat-card-subtitle>{{product.categoryName}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p class="text-center">
        {{
          product.description
        }}
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button color="primary" routerLink="/product/{{product.number}}">View</button>
      <button mat-stroked-button color="primary">Update</button>
      <button mat-stroked-button color="warn" (click)="productDelete(product.number)">Delete</button>
    </mat-card-actions>
  </mat-card>
</div>
