<mat-grid-list cols="1" rowHeight="2:2">
    <mat-grid-tile>
      <form class="example-form">
        <h1 class="text-center text-dark">Register</h1>
        <mat-form-field class="example-full-width">
            <mat-label>FirstName</mat-label>
            <input type="text" matInput>
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <mat-label>LastName</mat-label>
            <input type="text" matInput>
        </mat-form-field>


        <mat-form-field class="example-full-width">
          <mat-label>Email</mat-label>
          <input type="email" matInput placeholder="You@example.com">
        </mat-form-field>
  
        <mat-form-field class="example-full-width">
          <mat-label>Password</mat-label>
          <input type="password" matInput placeholder="Create Password">
        </mat-form-field>

        <div class="d-grid gap-2 col-6 mx-auto">
          <button class="btn btn-primary" type="button">Register</button>
        </div>
      </form>
    
    </mat-grid-tile>
  </mat-grid-list>