
<mat-grid-list cols="1" rowHeight="2:2">
  <mat-grid-tile>
    <form class="example-form">
      <h1 class="text-center text-dark">Login</h1>
      <mat-form-field class="example-full-width">
        <mat-label>Email</mat-label>
        <input type="email" matInput placeholder="Ex. pat@example.com">
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Password</mat-label>
        <input type="password" matInput>
      </mat-form-field>
      <div class="d-grid gap-2 col-6 mx-auto">
        <button class="btn btn-primary" type="button">Login</button>
      </div>
    </form>
  
  </mat-grid-tile>
</mat-grid-list>